<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Show Recipe</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- webjars gave up on me half-way through the course: th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" -->

        <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap-overrides.css" th:href="@{/css/bootstrap-overrides.css}" />
        <!-- Note :: CSS changes are not taking effect unless Spring is running (i.e loading the static html is missing this file) -->

        <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- webjars gave up on me half-way through the course: th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" -->
    </head>
    <body>
        <!--/*@thymesVar id="recipe" type="com.jrsmiffy.springguru.recipes.model.Recipe"*/-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="panel-title">Upload a new recipe image</h1>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <form action="http://localhost"
                                              method="post"
                                              th:action="@{'/recipe/' + ${recipe.getId()} + '/image'}"
                                              enctype="multipart/form-data">
                                            <!-- Note :: ^^ this encoding type allows us to upload an image via HTML -->
                                            <label class="control-label">Select File</label>
                                            <input id="image-file" name="image-file" class="file margin-v" type="file">
                                            <button type="submit" class="btn btn-primary margin-v">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>