<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Recipe Form</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- webjars gave up on me half-way through the course: th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" -->

        <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap-overrides.css" th:href="@{/css/bootstrap-overrides.css}" />
        <!-- Note :: CSS changes are not taking effect unless Spring is running (i.e loading the static html is missing this file) -->

        <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- webjars gave up on me half-way through the course: th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" -->
    </head>
    <body>
    <!--/*@thymesVar id="recipe" type="com.jrsmiffy.springguru.recipes.model.Recipe"*/-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form th:object="${recipe}" th:action="@{/recipe/}" method="post">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="panel-group">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h1 class="panel-title">Edit Recipe Information</h1>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label>Recipe Description</label>
                                            <input type="text" class="form-control" th:field="*{description}"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label>Categories</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <div class="radio">
                                                <label class="no-indent">
                                                    <input type="checkbox" value=""/>
                                                    Cat 1
                                                </label>
                                            </div>
                                            <div class="radio" th:remove="all">
                                                <label class="no-indent">
                                                    <input type="checkbox" value=""/>
                                                    Cat 2
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label>Prep Time</label>
                                            <input type="text" class="form-control" th:field="*{prepMins}"/>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Cook Time</label>
                                            <input type="text" class="form-control" th:field="*{cookMins}"/>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Difficulty</label>
                                            <select class="form-control" th:field="*{difficulty}">
                                                <option th:each="difficultyValue : ${T(com.jrsmiffy.springguru.recipes.model.Difficulty).values()}"
                                                        th:value="${difficultyValue.name()}"
                                                        th:text="${difficultyValue.name()}">
                                                    val
                                                </option>
                                            </select>
                                            <select class="form-control" th:remove="all">
                                                <option>Easy</option>
                                                <option>Medium</option>
                                                <option>Hard</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label>Servings</label>
                                            <input type="text" class="form-control" th:field="*{servings}"/>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Source</label>
                                            <input type="text" class="form-control" th:field="*{source}"/>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>URL</label>
                                            <input type="text" class="form-control" th:field="*{url}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h1 class="panel-title">Ingredients</h1>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-default margin-h right" href="#" role="button">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul>
                                                <li th:remove="all">1 Cup of milk</li>
                                                <li th:remove="all">1 Teaspoon of chocolate</li>
                                                <li th:each="ingredient : ${recipe.ingredients}"
                                                    th:text="${(ingredient.getQuantity() + ' ' + ingredient.unit.getName() + ' - ' + ingredient.getDescription())}">
                                                    1 Teaspoon of Sugar
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h1 class="panel-title">Directions</h1>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label class="full-width">
                                                <textarea class="form-control" rows="3" th:field="*{directions}"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h1 class="panel-title">Notes</h1>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label class="full-width">
                                                <textarea class="form-control" rows="3" th:field="*{notes.content}"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary margin-v">Submit</button>
                            <!-- FixMe [Bug] :: to submit an UPDATE request causes the persisted image to be lost -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>